@import '../../../../node_modules/@progress/kendo-theme-default/dist/all.css';

.navbar li.link-active a,
.navbar li.link-active a:hover,
.navbar li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

.menu-divider {
    border-top: 1px solid #777777;
    margin: 10px;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-family: 'Roboto';
}

@media (min-width: 768px) {

    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }

    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
        
    }

    .navbar-header {
        float: none;
    }

    .navbar ul {
        float: none;
    }

    .navbar li {
        float: none;
        font-size: 14px;
        margin: 6px;
    }

        .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
        }

    .navbar a {

        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
