
<div class="main-nav">
    
    <div class='navbar navbar-inverse'>
        <img src="../../../assests/images/Containerchain-Rev-Screen.png" class="img-responsive" />

        <div *ngIf="filteredProfiles" style="overflow-y: auto;">
            <ul class='nav navbar-nav'>
                <li><a class='navbar-brand' [routerLink]="['/profiles']">EDI Profile Manager</a></li>
                <li><input class="form-control" placeholder="Search profile" (keyup)="filterProfiles($event.target.value)"/></li>
                <li [routerLinkActive]="['link-active']" *ngFor="let profile of filteredProfiles">
                    <a [routerLink]="['/profiles', profile.profileName]">
                        <span>{{profile.profileName}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <hr class="menu-divider"/>
        <div>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/profiles', '-1']"><span class="k-icon k-i-file-add" data-toggle="tooltip" title="Create new profile"></span>&nbsp;Create new profile</a></li>
                <li><a [routerLink]="['/mappers']"><span class="k-icon k-i-cog" data-toggle="tooltip" title="Manage mappers"></span>&nbsp;Manage mappers</a></li>
                <li><a [routerLink]="['/reports']"><span class="k-icon k-i-cog" data-toggle="tooltip" title="Manage reports"></span>&nbsp;Manage reports</a></li>
            </ul>
            
        </div>
    </div>
</div>


