<form (ngSubmit)="updateProfile($event)">
    <div style="margin-top: 20px"></div>
    <div class="panel">
        <div class="panel-body" *ngIf="cronExpression">
            <cron-editor [(cron)]="cronExpression" [(options)]="cronOptions" id="cronEditor"></cron-editor>
            <div class="tab-content">

            </div>
            <div class="form-group">
                <label class="control-label">Schedule expression</label>
                <input [(ngModel)]="cronExpression" class="form-control" name="cronExp" [value]="isCronDisabled?'': cronExpression" readonly />
            </div>
            <div class="checkbox">
                <label><input type="checkbox" [checked]="isCronDisabled" (change)="isCronDisabled = !isCronDisabled" name="crondisabled">Disable schedule</label>
            </div>
        </div>
    </div>
    <footer *ngIf="profile" [profileName]="profileName"></footer>
</form>

