<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
        <h3 class="modal-title">New output setting</h3>
        <input type="hidden" [(ngModel)]="action" />
    </div>

    <form novalidate (ngSubmit)="addNewOutput(newOutputForm.valid)" [formGroup]="newOutputForm">
        <div class="modal-body">
            <h4>
                <span class="glyphicon glyphicon-download-alt"></span> Output setting
            </h4>
            <div class="form-group" [ngClass]="displayFieldCss(newOutputForm.controls.name)">
                <label class="control-label">File name identifier</label><val-message [control]="newOutputForm.controls.name" [submitted]="submitted"></val-message>
                <input type="text" class="form-control" [(ngModel)]="outputSetting.name" formControlName="name" readonly />
            </div>
            <div class="form-group" [ngClass]="displayFieldCss(newOutputForm.controls.fileNameTemplate)">
                <label class="control-label">File name template</label><val-message [control]="newOutputForm.controls.fileNameTemplate" [submitted]="submitted"></val-message>
                <input type="text" class="form-control" [(ngModel)]="outputSetting.fileNameTemplate" formControlName="fileNameTemplate" />
            </div>
            <div class="form-group" [ngClass]="displayFieldCss(newOutputForm.controls.contentType)">
                <label class="control-label">Content type</label><val-message [control]="newOutputForm.controls.contentType" [submitted]="submitted"></val-message>
                <select class="form-control" [(ngModel)]="outputSetting.contentType" formControlName="contentType">
                    <option *ngFor="let option of contentTypes" value="{{option}}">{{option}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </form>
</div>
