﻿<p>
    <button type="button" class="btn btn-info" (click)="addNewOutput()">
        <span class="glyphicon glyphicon-edit"></span> Create new output setting
    </button>
</p>


<form novalidate (ngSubmit)="updateProfile(outputForm.valid)" >
    <div *ngIf="(profile.outputs?.length > 0) else nodata" [formGroup]="outputForm">
        <div formArrayName="outputFormArray">
            <div *ngFor="let output of profile.outputs; let i=index" class="panel panel-default">

                <div class="panel-body" [formGroupName]="i">
                    <h4>
                        <span class="glyphicon glyphicon-download-alt"></span> Output setting<a class="pull-right" style="cursor: pointer" (click)="removeOutput(output.outputId)">
                            <span class="glyphicon glyphicon-remove" style="color:#d9534f" title="Remove this output"></span>

                        </a>
                    </h4>
                    <div class="form-group" [ngClass]="displayFieldCss(outputForm.controls.outputFormArray['controls'][i].controls.name)">
                        <label class="control-label">File name identifier</label><val-message [control]="outputForm.controls.outputFormArray['controls'][i].controls.name" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" formControlName="name" readonly />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(outputForm.controls.outputFormArray['controls'][i].controls.fileNameTemplate)">
                        <label class="control-label">File name template</label><val-message [control]="outputForm.controls.outputFormArray['controls'][i].controls.fileNameTemplate" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="output.fileNameTemplate" formControlName="fileNameTemplate" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(outputForm.controls.outputFormArray['controls'][i].controls.contentType)">
                        <label class="control-label">Content type</label><val-message [control]="outputForm.controls.outputFormArray['controls'][i].controls.contentType" [submitted]="submitted"></val-message>
                        <select name="contentType" class="form-control" [(ngModel)]="output.contentType" formControlName="contentType">
                            <option *ngFor="let option of contentTypes" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer *ngIf="profile" [profileName]="profileName"></footer>
</form>

<ng-template #nodata>
    <div class="alert alert-info">No output settings found for this profile.</div>
</ng-template>
