@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
        font-family: 'Roboto';
    }
}
.container-fluid {
    font-family: 'Roboto';
}

.loading-overlay {
    background: #e9e9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1000
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}

.profileContent {
    width: 100%;
    height: 100%;
    position: relative;
}