<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
        <h3 class="modal-title">New file transfer method</h3>
        <input type="hidden" [(ngModel)]="action" />
    </div>

    <form novalidate (ngSubmit)="addnewFileTransfer(newOutgoingSettingForm.valid)" [formGroup]="newOutgoingSettingForm">
        <div class="modal-body">
            <div class="form-group" *ngIf="!hasEmailSetting">
                <label class="radio-inline"><input name="transferType" type="radio" [(ngModel)]="transferType" value="ftp" (click)="transferType = 'ftp'; changeForm(transferType)" formControlName="transferType">FTP setting</label>
               <label class="radio-inline"><input name="transferType" type="radio" [(ngModel)]="transferType" value="email" (click)="transferType = 'email'; changeForm(transferType)" formControlName="transferType">Email setting</label>
            </div>

            <div *ngIf="transferType == 'ftp'">
                <div formArrayName="ftpFormGroup">
                    <h4>
                        <span class="glyphicon glyphicon-folder-close"></span> FTP setting
                    </h4>

                    <div class="form-group" [ngClass]="displayFieldCss(newOutgoingSettingForm.controls.ftpFormGroup.controls.protocol)">
                        <label class="control-label">Protocol</label><val-message [control]="newOutgoingSettingForm.controls.ftpFormGroup.controls.protocol" [submitted]="submitted"></val-message>
                        <select formControlName="protocol" class="form-control" [(ngModel)]="newOutgoingFtpSetting.protocol">
                            <option *ngFor="let option of ftpProtocols" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newOutgoingSettingForm.controls.ftpFormGroup.controls.serverName)">
                        <label class="control-label">Server name</label><val-message [control]="newOutgoingSettingForm.controls.ftpFormGroup.controls.serverName" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newOutgoingFtpSetting.serverName" formControlName="serverName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Port number</label>
                        <input type="text" class="form-control" [(ngModel)]="newOutgoingFtpSetting.portNumber" formControlName="portNumber" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newOutgoingSettingForm.controls.ftpFormGroup.controls.username)">
                        <label class="control-label">User name</label><val-message [control]="newOutgoingSettingForm.controls.ftpFormGroup.controls.username" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newOutgoingFtpSetting.username" formControlName="username" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newOutgoingSettingForm.controls.ftpFormGroup.controls.password)">
                        <label class="control-label">Password</label><val-message [control]="newOutgoingSettingForm.controls.ftpFormGroup.controls.protocol" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newOutgoingFtpSetting.password" formControlName="password" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Directory path</label>
                        <input type="text" class="form-control" [(ngModel)]="newOutgoingFtpSetting.directoryPath" formControlName="directoryPath" />
                    </div>
                </div>
            </div>

            <div *ngIf="transferType == 'email'">
                <div formArrayName="emailFormGroup">
                    <h4>
                        <span class="glyphicon glyphicon-envelope"></span> Email setting
                    </h4>
                    <div class="form-group" [ngClass]="displayFieldCss(newOutgoingSettingForm.controls.emailFormGroup.controls.fromAddress)">
                        <label class="control-label">From email address</label><val-message [control]="newOutgoingSettingForm.controls.emailFormGroup.controls.fromAddress" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newOutgoingEmailSetting.fromAddress" formControlName="fromAddress" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newOutgoingSettingForm.controls.emailFormGroup.controls.fromDisplayName)">
                        <label class="control-label">From display name</label><val-message [control]="newOutgoingSettingForm.controls.emailFormGroup.controls.fromDisplayName" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newOutgoingEmailSetting.fromDisplayName" formControlName="fromDisplayName" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newOutgoingSettingForm.controls.emailFormGroup.controls.subjectLine)">
                        <label class="control-label">Subject line</label><val-message [control]="newOutgoingSettingForm.controls.emailFormGroup.controls.subjectLine" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newOutgoingEmailSetting.subjectLine" formControlName="subjectLine" multiple />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email body</label>
                        <textarea class="form-control" [(ngModel)]="newOutgoingEmailSetting.emailBody" formControlName="emailBody" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="control-label"><input type="checkbox" (checked)="newOutgoingEmailSetting.isHtml" (change)="newOutgoingEmailSetting.isHtml = !newOutgoingEmailSetting.isHtml" formControlName="isHtml" />Is Html</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </form>
</div>
