<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
        <h3 class="modal-title">New recipient</h3>
        <input type="hidden" [(ngModel)]="action" />
    </div>
    <form novalidate (ngSubmit)="addNewRecipient(newRecipientForm.valid)" [formGroup]="newRecipientForm">
        <div class="modal-body">
            <h4>
                <span class="glyphicon glyphicon-user"></span> Add new recipient
            </h4>
            <div class="form-group" [ngClass]="displayFieldCss(newRecipientForm.controls.displayName)">
                <label class="control-label">Display name</label><val-message [control]="newRecipientForm.controls.displayName" [submitted]="submitted"></val-message>
                <input type="text" class="form-control" [(ngModel)]="newRecipient.displayName" formControlName="displayName" />
            </div>
            <div class="form-group" [ngClass]="displayFieldCss(newRecipientForm.controls.emailAddress)">
                <label class="control-label">Email address</label><val-message [control]="newRecipientForm.controls.emailAddress" [submitted]="submitted"></val-message>
                <input type="text" class="form-control" [(ngModel)]="newRecipient.emailAddress" formControlName="emailAddress" />
            </div>
            <div class="form-group" [ngClass]="displayFieldCss(newRecipientForm.controls.cc)">
                <label class="control-label">CC</label><val-message [control]="newRecipientForm.controls.cc" [submitted]="submitted"></val-message>
                <input type="text" class="form-control" [(ngModel)]="newRecipient.cc" formControlName="cc" />
            </div>
            <div class="form-group" [ngClass]="displayFieldCss(newRecipientForm.controls.bcc)">
                <label class="control-label">BCC</label><val-message [control]="newRecipientForm.controls.bcc" [submitted]="submitted"></val-message>
                <input type="text" class="form-control" [(ngModel)]="newRecipient.bcc" formControlName="bcc" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </form>
</div>
