<div style="margin-top: 20px"></div>
<button kendoButton [primary]="true" [icon]="'plus'" data-toggle="tooltip" title="Create new outgoing file transfer method" (click)="createNewOutgoingSetting()">New Method</button>
<div style="margin-top: 20px"></div>

<form novalidate (ngSubmit)="updateProfile(outgoingSettingForm.valid)">
    <div *ngIf="(profile.outgoingFtpSettings?.length > 0 || profile.outgoingEmailSetting !=null) else nodata" [formGroup]="outgoingSettingForm">
        <div formArrayName="ftpFormGroupArray">
            <div *ngFor="let ftp of profile.outgoingFtpSettings; let i=index" class="panel panel-default">
                <div class="panel-body" [formGroupName]="i">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4" style="margin-bottom: 10px">
                                <h4><i class="fa fa-upload" aria-hidden="true"></i> Outgoing FTP Setting</h4>
                            </div>
                            <div class="col-md-8">
                                <div class="btn-group pull-right">
                                    <a style="cursor: pointer;color:#d9534f" (click)="removeOutgoingSetting('ftp', ftp.outgoingFtpSettingId)"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group" [ngClass]="displayFieldCss(outgoingSettingForm.controls.ftpFormGroupArray['controls'][i].controls.protocol)">
                                    <label class="control-label">Protocol</label><val-message [control]="outgoingSettingForm.controls.ftpFormGroupArray['controls'][i].controls.protocol" [submitted]="submitted"></val-message>
                                    <select formControlName="protocol" class="form-control" [(ngModel)]="ftp.protocol">
                                        <option *ngFor="let option of ftpProtocols" value="{{option}}">{{option}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group" [ngClass]="displayFieldCss(outgoingSettingForm.controls.ftpFormGroupArray['controls'][i].controls.serverName)">
                                    <label class="control-label">Server name</label><val-message [control]="outgoingSettingForm.controls.ftpFormGroupArray['controls'][i].controls.serverName" [submitted]="submitted"></val-message>
                                    <input type="text" class="form-control" [(ngModel)]="ftp.serverName" formControlName="serverName" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label">Port number</label>
                                    <input type="text" class="form-control" [(ngModel)]="ftp.portNumber" formControlName="portNumber" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" [ngClass]="displayFieldCss(outgoingSettingForm.controls.ftpFormGroupArray['controls'][i].controls.username)">
                                    <label class="control-label">User name</label><val-message [control]="outgoingSettingForm.controls.ftpFormGroupArray['controls'][i].controls.username" [submitted]="submitted"></val-message>
                                    <input type="text" class="form-control" [(ngModel)]="ftp.username" formControlName="username" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" [ngClass]="displayFieldCss(outgoingSettingForm.controls.ftpFormGroupArray['controls'][i].controls.password)">
                                    <label class="control-label">Password</label><val-message [control]="outgoingSettingForm.controls.ftpFormGroupArray['controls'][i].controls.password" [submitted]="submitted"></val-message>
                                    <input type="text" class="form-control" [(ngModel)]="ftp.password" formControlName="password" />
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label">Directory path</label>
                            <input type="text" class="form-control" [(ngModel)]="ftp.directoryPath" formControlName="directoryPath" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="profile.outgoingEmailSetting != null">
            <div formArrayName="emailFormGroup" class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4" style="margin-bottom: 10px">
                                <h4><i class="fa fa-envelope" aria-hidden="true"></i> Outgoing Email Setting</h4>
                            </div>
                            <div class="col-md-8">
                                <div class="btn-group pull-right">
                                    <a style="cursor: pointer;color:#d9534f" (click)="removeOutgoingSetting('email', profile.outgoingEmailSetting.outgoingEmailSettingId)"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" [ngClass]="displayFieldCss(fromAddress)">
                                    <label class="control-label">Sender Email Address</label><val-message [control]="outgoingSettingForm.controls.emailFormGroup.controls.fromAddress" [submitted]="submitted"></val-message>
                                    <input type="text" class="form-control" [(ngModel)]="profile.outgoingEmailSetting.fromAddress" formControlName="fromAddress" #fromAddress />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" [ngClass]="displayFieldCss(outgoingSettingForm.controls.emailFormGroup.controls.fromDisplayName)">
                                    <label class="control-label">Display name</label><val-message [control]="outgoingSettingForm.controls.emailFormGroup.controls.fromDisplayName" [submitted]="submitted"></val-message>
                                    <input type="text" class="form-control" [(ngModel)]="profile.outgoingEmailSetting.fromDisplayName" formControlName="fromDisplayName" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="displayFieldCss(outgoingSettingForm.controls.emailFormGroup.controls.subjectLine)">
                            <label class="control-label">Subject line</label><val-message [control]="outgoingSettingForm.controls.emailFormGroup.controls.subjectLine" [submitted]="submitted"></val-message>
                            <input type="text" class="form-control" [(ngModel)]="profile.outgoingEmailSetting.subjectLine" formControlName="subjectLine" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Recipients</label>
                            <button type="button" class="btn btn-default pull-right" (click)="addNewRecipient(profile.outgoingEmailSetting.outgoingEmailSettingId)">
                                <span class="glyphicon glyphicon-user"></span> Add recipient
                            </button>
                            <table class="table table-striped" *ngIf="profile.outgoingEmailSetting.emailRecipients?.length > 0 else norecipients">
                                <thead>
                                    <tr>
                                        <th>Display name</th>
                                        <th>Email address</th>
                                        <th>CC</th>
                                        <th>BCC</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let rec of profile.outgoingEmailSetting.emailRecipients; let i=index">
                                        <td>{{rec.displayName}}</td>
                                        <td>{{rec.emailAddress}}</td>
                                        <td>
                                            <div *ngIf="rec.cc !=null">
                                                <div *ngFor="let ccEmail of rec.cc.split(';')">
                                                    <span>{{ccEmail}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div *ngIf="rec.bcc !=null">
                                                <div *ngFor="let bccEmail of rec.bcc.split(';')">
                                                    <span>{{bccEmail}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td><a style="cursor: pointer" (click)="updateRecipient(profile.outgoingEmailSetting,i)" title="Update recipient"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;&nbsp;<a style="cursor: pointer" (click)="removeRecipient(profile.outgoingEmailSetting,i)" title="Remove recipient"><span class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email body</label>
                            <textarea class="form-control" [(ngModel)]="profile.outgoingEmailSetting.emailBody" rows="5" formControlName="emailBody"></textarea>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" (checked)="profile.outgoingEmailSetting.isHtml" (change)="email.isHtml = !email.isHtml" formControlName="isHtml">Is Html</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer *ngIf="profile" [profileName]="profileName"></footer>
</form>
<ng-template #nodata>
    <div class="alert alert-info">No ftp or email settings found for this profile</div>
</ng-template>
<ng-template #norecipients>
    <p>
        <em> Add recipients</em>
    </p>
</ng-template>

