<div *ngIf="profileName" class="pull-right">
    
    <button type="button" class="btn btn-default" value="clone" id="clone" name="actiontype">Clone Profile</button>
    <button type="button" class="btn btn-default" id="delete" data-toggle="modal" data-target="#confirm-delete" (click)="deleteProfile($event)">Delete</button>
    <button type="submit" class="btn btn-primary" value="update" id="update" name="actiontype">Save Changes</button>
</div>