﻿<h1>Manage reports</h1>

<div class="panel panel-default">
    <div class="panel-heading">Add/Modify report</div>
    <div class="panel-body">
        <form novalidate (ngSubmit)="uploadReportTemplate(reportForm.valid)">
            <div [formGroup]="reportForm">
                <div class="form-group">
                    <label>If a report with the same name exists, it will be overwritten</label><val-message [control]="reportForm.controls.reportFile" [submitted]="submitted"></val-message>
                    <input type="file" class="file-upload" aria-describedby="helpBlock" (change)="handleFileInput($event)" name="reportFile" formControlName="reportFile" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(reportForm.controls.sources)">
                    <label>Date sources</label><val-message [control]="reportForm.controls.sources" [submitted]="submitted"></val-message>
                    <kendo-multiselect [data]="sourceList" [(ngModel)]="sources" formControlName="sources"></kendo-multiselect>
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(reportForm.controls.remarks)">
                    <label>Remarks</label><val-message [control]="reportForm.controls.remarks" [submitted]="submitted"></val-message>
                    <textarea name="remarks" rows="5" class="form-control" [(ngModel)]="remarks" formControlName="remarks"></textarea>
                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary" value="update">Upload</button></div>
            </div>
        </form>
    </div>
</div>

<h1>Available reports</h1>
<kendo-grid [data]="reports">
    <kendo-grid-column field="name" title="Name"></kendo-grid-column>
    <div *kendoGridDetailTemplate="let dataItem">
        <report-history [report]="dataItem"></report-history>
    </div>
</kendo-grid>
