﻿<h1>Manage mappers</h1>

<div class="panel panel-default">
    <div class="panel-heading">Add/Modify mapper</div>
    <div class="panel-body">
        <form novalidate (ngSubmit)="uploadMapperFile(mapperForm.valid)">
            <div [formGroup]="mapperForm">
                <div class="form-group">
                    <label>If a mapper with the same name exists, the mapper will be overwritten</label><val-message [control]="mapperForm.controls.mapperFile" [submitted]="submitted"></val-message>
                    <input type="file" class="file-upload" aria-describedby="helpBlock" (change)="handleFileInput($event)" name="mapperFile" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(mapperForm.controls.remarks)">
                    <label>Remarks</label><val-message [control]="mapperForm.controls.remarks" [submitted]="submitted"></val-message>
                    <textarea name="remarks" rows="5" class="form-control" [(ngModel)]="remarks" formControlName="remarks"></textarea>
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(mapperForm.controls.profileType)">
                    <label class="control-label">Profile type</label><val-message [control]="mapperForm.controls.profileType" [submitted]="submitted"></val-message>
                    <select formControlName="profileType" class="form-control" [(ngModel)]="profileType">
                        <option *ngFor="let option of profileTypes" value="{{option.name}}">{{option.name}}</option>
                    </select>
                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary" value="update">Upload</button></div>
            </div>
        </form>
    </div>
</div>

<h1>Available mappers</h1>
<kendo-grid [data]="gridData"
            filterable="menu"
             (filterChange)="filterChange($event)">
    <kendo-grid-column field="name" title="Name" [filterable]="true">
    </kendo-grid-column>
    <kendo-grid-column field="profileType" title="Profile type">
        <ng-template kendoGridFilterMenuTemplate
                     let-column="column"
                     let-filter="filter"
                     let-filterService="filterService">
            <kendo-multiselect style="width:220px"
                               [data]="profileTypes"
                               textField="name"
                               valueField="name"
                               [valuePrimitive]="true"
                               [value]="categoryFilters(filter)"
                               (valueChange)="categoryChange($event, filterService)">
            </kendo-multiselect>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedDateTime" title="Modified date time" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span>{{dataItem.modifiedDateTime | date:'yyyy-MM-dd HH:mm:ss a'}}</span>
        </ng-template>
    </kendo-grid-column>
    <div *kendoGridDetailTemplate="let dataItem">
        <mapper-history [mapper]="dataItem"></mapper-history>
    </div>
</kendo-grid>
