<div *ngIf="profile.incomingFtpSetting == null && profile.incomingEmailSetting == null && profile.directoryListenerSetting == null">
    <div style="margin-top: 20px"></div>
    <p>
        <button type="button" class="btn btn-info" (click)="createNewIncomingSetting()">
            <span class="glyphicon glyphicon-edit"></span> Create new file transfer method
        </button>
    </p>
</div>

<form novalidate (ngSubmit)="updateProfile(incomingSettingForm.valid)">
    <div *ngIf="(profile.incomingFtpSetting !=null || profile.incomingEmailSetting !=null || profile.directoryListenerSetting !=null) else nodata" [formGroup]="incomingSettingForm">
        <div style="margin-top: 20px"></div>
        <div formGroupName="ftpFormGroup" class="panel panel-default" *ngIf="profile.incomingFtpSetting!=null">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4" style="margin-bottom: 10px">
                        <h4><span class="glyphicon glyphicon-folder-close"></span> Incoming FTP Setting</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group pull-right">
                            <a (click)="removeIncomingSetting('ftp')" style="font-size: 150%; cursor: pointer"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </div>
                    </div>
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.ftpFormGroup.controls.protocol)">
                    <label class="control-label">Protocol</label><val-message [control]="incomingSettingForm.controls.ftpFormGroup.controls.protocol" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingFtpSetting.protocol" formControlName="protocol" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.ftpFormGroup.controls.serverName)">
                    <label class="control-label">Server name</label><val-message [control]="incomingSettingForm.controls.ftpFormGroup.controls.serverName" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingFtpSetting.serverName" formControlName="serverName" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.ftpFormGroup.controls.portNumber)">
                    <label class="control-label">Port number</label><val-message [control]="incomingSettingForm.controls.ftpFormGroup.controls.portNumber" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingFtpSetting.portNumber" formControlName="portNumber" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.ftpFormGroup.controls.username)">
                    <label class="control-label">User name</label><val-message [control]="incomingSettingForm.controls.ftpFormGroup.controls.username" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingFtpSetting.username" formControlName="username" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.ftpFormGroup.controls.password)">
                    <label class="control-label">Password</label><val-message [control]="incomingSettingForm.controls.ftpFormGroup.controls.password" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingFtpSetting.password" formControlName="password" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.ftpFormGroup.controls.directoryPath)">
                    <label class="control-label">Directory path</label><val-message [control]="incomingSettingForm.controls.ftpFormGroup.controls.directoryPath" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingFtpSetting.directoryPath" formControlName="directoryPath" />
                </div>
            </div>
        </div>

        <div formGroupName="emailFormGroup" class="panel panel-default" *ngIf="profile.incomingEmailSetting!=null">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4" style="margin-bottom: 10px">
                        <h4><span class="glyphicon glyphicon-envelope"></span> Incoming Email Setting</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="pull-right">
                            <a (click)="removeIncomingSetting('email')" style="font-size: 150%;cursor: pointer"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.emailFormGroup.controls.recipientEmailAddress)">
                    <label class="control-label">Recipient Email</label>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingEmailSetting.recipientEmailAddress" formControlName="recipientEmailAddress" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.emailFormGroup.controls.senderEmailAddress)">
                    <label class="control-label">Sender Email</label><val-message [control]="incomingSettingForm.controls.emailFormGroup.controls.senderEmailAddress" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingEmailSetting.senderEmailAddress" formControlName="senderEmailAddress" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.emailFormGroup.controls.subjectLine)">
                    <label class="control-label">Subject Line</label><val-message [control]="incomingSettingForm.controls.emailFormGroup.controls.subjectLine" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingEmailSetting.subjectLine" formControlName="subjectLine" />
                </div>
                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.emailFormGroup.controls.filename)">
                    <label class="control-label">File name</label><val-message [control]="incomingSettingForm.controls.emailFormGroup.controls.filename" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.incomingEmailSetting.filename" formControlName="filename" />
                </div>
            </div>
        </div>

        <div formGroupName="directoryListenerFormGroup" class="panel panel-default" *ngIf="profile.directoryListenerSetting!=null">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4" style="margin-bottom: 10px">
                        <h4><span class="glyphicon glyphicon-headphones"></span> Directory Listener Setting</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="pull-right">
                            <a (click)="removeIncomingSetting('dirlistn')" style="font-size: 150%;cursor: pointer"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="displayFieldCss(incomingSettingForm.controls.directoryListenerFormGroup.controls.directoryPath)">
                    <label class="control-label">Directory path</label>
                    <input type="text" class="form-control" [(ngModel)]="profile.directoryListenerSetting.directoryPath" formControlName="directoryPath" />
                </div>
                <div class="form-group">
                    <label class="control-label">File name</label><val-message [control]="incomingSettingForm.controls.directoryListenerFormGroup.controls.filename" [submitted]="submitted"></val-message>
                    <input type="text" class="form-control" [(ngModel)]="profile.directoryListenerSetting.filename" formControlName="filename" />
                </div>
            </div>
        </div>

    </div>
    <footer *ngIf="profile" [profileName]="profileName"></footer>
</form>

<ng-template #nodata>
    <div class="alert alert-info">No ftp/email/directory listener settings found for this profile</div>
</ng-template>
<ng-template #norecipients>
    <p>
        <em> Add recipients</em>
    </p>
</ng-template>
