<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
        <h3 class="modal-title">New file transfer method</h3>
        <input type="hidden" [(ngModel)]="action" />
    </div>

    <form novalidate (ngSubmit)="addNewFileTransfer(newIncomingSettingForm.valid)" [formGroup]="newIncomingSettingForm">
        <div class="modal-body">
            <div class="form-group" *ngIf="!hasSetting">
                <label class="radio-inline"><input name="transferType" type="radio" [(ngModel)]="transferType" value="ftp" (click)="transferType = 'ftp'; changeForm(transferType)" formControlName="transferType">FTP</label>
                <label class="radio-inline"><input name="transferType" type="radio" [(ngModel)]="transferType" value="email" (click)="transferType = 'email'; changeForm(transferType)" formControlName="transferType">Email</label>
                <label class="radio-inline"><input name="transferType" type="radio" [(ngModel)]="transferType" value="dirlistn" (click)="transferType = 'dirlistn'; changeForm(transferType)" formControlName="transferType">Directory listener</label>
            </div>

            <div *ngIf="transferType == 'ftp'">
                <div formArrayName="ftpFormGroup">
                    <h4>
                        <span class="glyphicon glyphicon-folder-close"></span> FTP setting
                    </h4>

                    <div class="form-group" [ngClass]="displayFieldCss(newIncomingSettingForm.controls.ftpFormGroup.controls.protocol)">
                        <label class="control-label">Protocol</label><val-message [control]="newIncomingSettingForm.controls.ftpFormGroup.controls.protocol" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingFtpSetting.protocol" formControlName="protocol" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newIncomingSettingForm.controls.ftpFormGroup.controls.serverName)">
                        <label class="control-label">Server name</label><val-message [control]="newIncomingSettingForm.controls.ftpFormGroup.controls.serverName" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingFtpSetting.serverName" formControlName="serverName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Port number</label>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingFtpSetting.portNumber" formControlName="portNumber" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newIncomingSettingForm.controls.ftpFormGroup.controls.username)">
                        <label class="control-label">User name</label><val-message [control]="newIncomingSettingForm.controls.ftpFormGroup.controls.username" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingFtpSetting.username" formControlName="username" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newIncomingSettingForm.controls.ftpFormGroup.controls.password)">
                        <label class="control-label">Password</label><val-message [control]="newIncomingSettingForm.controls.ftpFormGroup.controls.protocol" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingFtpSetting.password" formControlName="password" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Directory path</label>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingFtpSetting.directoryPath" formControlName="directoryPath" />
                    </div>
                </div>
            </div>

            <div *ngIf="transferType == 'email'">
                <div formArrayName="emailFormGroup">
                    <h4>
                        <span class="glyphicon glyphicon-envelope"></span> Email Setting
                    </h4>
                    <div class="form-group" [ngClass]="displayFieldCss(newIncomingSettingForm.controls.emailFormGroup.controls.recipientEmailAddress)">
                        <label class="control-label">Recipient email address</label><val-message [control]="newIncomingSettingForm.controls.emailFormGroup.controls.recipientEmailAddress" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingEmailSetting.recipientEmailAddress" formControlName="recipientEmailAddress" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newIncomingSettingForm.controls.emailFormGroup.controls.senderEmailAddress)">
                        <label class="control-label">Sender email address</label><val-message [control]="newIncomingSettingForm.controls.emailFormGroup.controls.senderEmailAddress" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingEmailSetting.senderEmailAddress" formControlName="senderEmailAddress" />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newIncomingSettingForm.controls.emailFormGroup.controls.subjectLine)">
                        <label class="control-label">Subject line</label><val-message [control]="newIncomingSettingForm.controls.emailFormGroup.controls.subjectLine" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingEmailSetting.subjectLine" formControlName="subjectLine" multiple />
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss(newIncomingSettingForm.controls.emailFormGroup.controls.filename)">
                        <label class="control-label">File name</label><val-message [control]="newIncomingSettingForm.controls.emailFormGroup.controls.filename" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newIncomingEmailSetting.filename" formControlName="filename" />
                    </div>

                </div>
            </div>
            <div *ngIf="transferType == 'dirlistn'">
                <div formArrayName="directoryListenerFormGroup">
                    <h4>
                        <span class="glyphicon glyphicon-headphones"></span> Directory Listener Setting
                    </h4>
                    <div class="form-group" [ngClass]="displayFieldCss(newIncomingSettingForm.controls.directoryListenerFormGroup.controls.directoryPath)">
                        <label class="control-label">Directory Path</label><val-message [control]="newIncomingSettingForm.controls.directoryListenerFormGroup.controls.directoryPath" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newDirectoryListenerSetting.directoryPath" formControlName="directoryPath" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">File Name</label><val-message [control]="newIncomingSettingForm.controls.directoryListenerFormGroup.controls.filename" [submitted]="submitted"></val-message>
                        <input type="text" class="form-control" [(ngModel)]="newDirectoryListenerSetting.filename" formControlName="filename" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </form>
</div>
