﻿@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf')
}

html {
    font-family: 'roboto'
}
.error-msg {
    color: #a94442;
}

.fix-error-icon {
    top: 27px;
}
.control-label.required:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top: 7px;
}

.label-error {
    color: #a94442;
    font-style: italic;
    font-size: 90%
}