

<form novalidate (ngSubmit)="updateProfile(profileForm.valid)">
    <div *ngIf="profileVm.profile" class="panel">
        <div [formGroup]="profileForm" class="panel-body container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group pull-right">
                        <label class="control-label"></label>
                        <div class="checkbox">
                            <label><input type="checkbox" formControlName="active" [(ngModel)]="profileVm.profile.active" value="{profileVm.profile.active}">Active</label>
                        </div>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group" [ngClass]="displayFieldCss(profileForm.controls.profileName)" *ngIf="profileVm.profile.profileId == -1">
                        <label class="control-label">Profile name</label><val-message [control]="profileForm.controls.profileName" [submitted]="submitted"></val-message>
                        <input formControlName="profileName" type="text" class="form-control" [value]="profileVm.profile.profileName" (input)="profileVm.profile.profileName = $event.target.value"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" [ngClass]="displayFieldCss(profileForm.controls.ownerCommunityCode)">
                        <label class="control-label">Owner community code</label><val-message [control]="profileForm.controls.ownerCommunityCode" [submitted]="submitted"></val-message>
                        <input formControlName="ownerCommunityCode" type="text" class="form-control" [(ngModel)]="profileVm.profile.ownerCommunityCode"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" [ngClass]="displayFieldCss(profileForm.controls.profileType)">
                        <label class="control-label">Profile type</label><val-message [control]="profileForm.controls.profileType" [submitted]="submitted"></val-message>
                        <select formControlName="profileType" class="form-control" [(ngModel)]="profileVm.profile.profileTypeId" (ngModelChange)="onProfileTypeChange($event)">
                            <option *ngFor="let option of profileVm.profileTypes" value="{{option.profileTypeId}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" [ngClass]="displayFieldCss(profileForm.controls.customerCommunityCode)">
                        <label class="control-label">Customer community code</label><val-message [control]="profileForm.controls.customerCommunityCode" [submitted]="submitted"></val-message>
                        <input formControlName="customerCommunityCode" type="text" class="form-control" [(ngModel)]="profileVm.profile.customerCommunityCode"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" [ngClass]="displayFieldCss(profileForm.controls.mapperName)">
                        <label class="control-label">Mapper</label><val-message [control]="profileForm.controls.mapperName" [submitted]="submitted"></val-message>
                        <select formControlName="mapperName" class="form-control" [(ngModel)]="profileVm.profile.mapperName">
                            <option *ngFor="let option of profileVm.mappers" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer *ngIf="profileVm.profile" [profileName]="profileName"></footer>
</form>