
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
            <h4 class="modal-title">{{title || 'Confirm'}}</h4>
        </div>
        <div class="modal-body">
            <p>{{message + ' Are you sure?'}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm($event)">OK</button>
            <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </div>
