
<div class="modal-content">
    <div class="modal-header" style='background-color: #d9534f'>
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
        <h3 class="modal-title" style='color:#ffffff'>{{title}}</h3>
    </div>
    <div class="modal-body">
        <h5>{{message}}</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">OK</button>
    </div>
</div>
