
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <h5>{{message}}</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">OK</button>
    </div>
</div>
