<div style="margin-top: 20px"></div>

<kendo-grid
    [data]="view | async"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [sortable]="true"
    [pageable]="true"
    [scrollable]="'none'"
    (dataStateChange)="dataStateChange($event)">
    
    <kendo-grid-column field="filename" title="Filename" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="fileType.code" title="Type" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="created" title="Date Created">
        <ng-template kendoGridCellTemplate let-dataItem>
        {{ (dataItem.created != null) ? (dataItem.created + 'Z' | date:"dd/MM/y hh:mm a") : "" }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="">
        <ng-template kendoGridCellTemplate let-dataItem>
            <a href="{{downloadUrl + dataItem.fileStorageKey}}" data-toggle="tooltip" title="Download">
                <button kendoButton [primary]="true" [icon]="'download'"></button>
            </a>
            <button kendoButton [primary]="true" [icon]="'reload'" [disabled]="inProgress" data-toggle="tooltip" title="Reprocess" (click)="reprocessFile(dataItem.fileStorageKey)"></button>
        </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
        <h3>File History</h3>
        <kendo-grid [data]="dataItem.history">
            <kendo-grid-column field="fileEvent.code" title="Event" [sortable]="false"></kendo-grid-column>
            <kendo-grid-column field="timestamp" title="Timestamp" [sortable]="false"></kendo-grid-column>
            <kendo-grid-column field="remarks" title="Remarks" [sortable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>

                    <div [ngSwitch]="(dataItem.remarks != null && dataItem.remarks.length > 50)">
                        <a *ngSwitchCase="true" style="cursor: pointer" container="body" [popover]="popTemplate" outsideClick="true" placement="top">{{dataItem.remarks.substring(0,30) + '...'}}</a>
                        <ng-template #popTemplate>
                            <div style="word-wrap: break-word; font-size: 11px">{{dataItem.remarks }}</div></ng-template>
                        <span *ngSwitchCase="false">{{dataItem.remarks}}</span>
                    </div>
                </ng-template>

            </kendo-grid-column>
        </kendo-grid>
    </ng-template>
</kendo-grid>


