﻿@import "../../../../node_modules/@progress/kendo-theme-default/scss/all";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$fa-font-path: 'fonts';
$icon-font-path: 'fonts/';
$font-family: 'Roboto', sans-serif;
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif sans-serif;

// menu item upgrade
$yellow-upgrade: #e9ba16;
//multi-step horizonal breadcrumbs
$breadcrumb-green: #0094A2;
//upgrade tripTMS section
$tripTMS-green: #355d21;
//upgrade egate section
$eGate-orange: #D29940;

$gridTopBg: #ececec;
$gridHeaderColumns: #d6d6d6;
$gridHeaderColumnsHover: #c8c8c8;
//primary grid color
$gridPrimary: #00529E;
//primary grid color 0.25
$gridPrimary-25: rgba(0, 82, 158, 0.25);
//darker hover states
$gridPrimaryDark: #015088;
//grid hover, lighter primary
$gridRowHover: rgba(0, 82, 158, 0.1);
//header border color
$gridHeaderBorder: #c7c7c7;
//bg of the filter row
$gridFilterRowBg: #a8a8a8;
//alternating row color.
$gridAltBg: #fcfcfc;
//fitler icon color
$gridFilterIcon: #ddd;
//old variables for legacy pages
$gridcolor: #557f95;
$gridDark: #30637e;
$gridDarker: #285167;
$invertedBg: url('Silver/spriteInverted.png');
$standardBg: url('Silver/sprite.png');
