<div *ngIf="profile.profileName">
    <div style="padding-top: 20px"></div>
    <h2>{{profile.profileName == "-1"?"Create new profile":profile.profileName}}</h2>
    <div style="padding-top: 20px"></div>

    <tabset>
        <tab *ngFor="let tab of tabs" [active]="tab.active" (select)="navigate(tab.name)">
            <ng-template tabHeading>
                <div [ngSwitch]="(tab.name == null)">
                    <a *ngSwitchCase="true" [routerLink]="['/profiles', profile.profileName]" data-toggle="tab">{{tab.title}}</a>
                    <a *ngSwitchCase="false" [routerLink]="['/profiles', profile.profileName, tab.name]" data-toggle="tab">{{tab.title}}</a>
                </div>
            </ng-template>
        </tab>

    </tabset>
</div>
